.title-hero{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    background: linear-gradient(269.87deg, rgba(255, 255, 255, 0.25) 0.11%, rgba(255, 255, 255, 0) 99.9%);
    animation: wrapperWidth 1s ease-in-out forwards, scaleUp 1s ease-in-out forwards;
    animation-delay: 0s,3s;
}

.latter-img{
    width: 170px;
    height: 257px !important;
}

.changed-text {
    background-color: #0535F6;
    padding: 0 5px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: max-content;
}

.cursor {
    display: inline-block;
    width: 2px;
    background-color: #fff;
    margin-left: 2px;
}

.content-hero{
    padding: 50px;
    position: absolute;
    top: 40%;
    right: 0;
    opacity: 0;
    animation: hidden 1s ease-in-out forwards;
    animation-delay: 3s;
}

.arrow-img{
    width: 400px;
    position: absolute;
    top: 50%;
    left: -30px;
    opacity: 0;
    transform: translateY(100px);
    animation: arrowMove 1s ease-in-out forwards, hidden 1s ease-in-out forwards;
    animation-delay: 3s, 3s;
}

@media (min-width: 1440px) {
    .latter-img{
        width: 250px;
        height: 370px !important;
    }
}

@keyframes wrapperWidth {
    0% {
        width: 0;
        opacity: 0;
        left: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hidden {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes scaleUp {
    0% {
        top: 30%;
    }
    100% {
        top: calc(30% - 100px);
    }
}

@keyframes arrowMove {
    0% {
        transform: translateY(100px); /* Start from below */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Reach the original position */
        opacity: 1;
    }
}